@import "../../app.scss";

.contact {
  min-height: 100vh;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;



  /* MOBILE LAYOUT */

  @include mobile {
    width: 100%;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }



  /* TEXT SECTION */

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 15px;
      text-align: center;
      align-items: center;
      margin-top: 60px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include mobile {
        font-size: 32px;
        line-height: 38px;
      }
    }

    span {
      font-weight: 300;

      @include mobile{
        font-size:14px;
      }
    }
  }



  /* FORM SECTION */

  .formContainer {
    flex: 1;
    position: relative;

    @include mobile {
      width: 100%;
      padding: 15px;
      border-radius: 15px;
    }



    /* SVG BACKGROUND */

    .phoneSvg {

      stroke: purple;
      position: absolute;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      z-index: 0;

      opacity: 0.12;

      svg {
        width: 350px;
        height: 350px;
      }

      @include mobile {

        svg{
          width: 200px;
          height: 200px;
        }

      }
    }



    /* FORM */

    form {

      position: relative;
      z-index: 1;

      display: flex;
      flex-direction: column;
      gap: 20px;

      @include mobile{
        gap:15px;
      }



      input,
      textarea {

        padding: 20px;

        background-color: transparent;

        border: 1px solid white;

        color: white;

        border-radius: 8px;

        font-size:16px;


        @include mobile {
          padding: 12px;
          font-size:14px;
        }

      }



      textarea {

        height: 150px;

        @include mobile{
          height:120px;
        }

      }



      button {

        padding: 14px;

        border: none;

        background-color: purple;

        color: white;

        font-size: 24px;

        border-radius: 10px;

        cursor: pointer;

        transition:0.3s;


        &:hover{
          background:#a000a0;
        }


        @include mobile {

          font-size:18px;

          padding:12px;

        }

      }

    }

  }

}